html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}

button,
a {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar {
  background: rgb(219, 10, 91);
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1030;
}
#navbar ul {
    color: #6a6969;
}
#brand.navbar-brand {
  padding-right: 0;
}

.container-fluid {
  padding: 0 3%;
}

#nabar>li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: #515151;
    display: inline-block;
}

#navbar li a {
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    padding: 8px;
    margin: 10px;
}

#navbar li a:hover {
    color: #d42551;
    text-decoration: none;
    background: #eee;
}

.nav>li>a:focus {
  background: transparent;
}

.navbar-brand {
  padding: 15px 15px 0 15px;
}

#nav-toggle{
  position: relative;
  right: 3%;
}

.cart {
  font-size: 20px;
  padding: none;
}

#welcome-image{
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),url('../assets/images/macaron-work.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#shop-image {
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),url('../assets/images/macaron-work-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#gifts-image {
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),url('../assets/images/macaron-gifts.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#contact-image {
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),url('../assets/images/macaron-contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#cart-image {
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)),url('../assets/images/macaron-cart.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-text {
  padding: 5px;
  height: 100px;
  width: 50%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.header-text h1 {
  font-family: 'Montserrat', sans-serif;
  border: 4px solid #ffffff;
  vertical-align: middle;
  margin: auto;
  font-weight: 800;
  font-size: 5em;
  color: #ffffff;
}

#main-container {
    margin-top: 1%;
    margin-bottom: 1%;
    min-height: 70%;
    height: auto;
}

#main-container h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header-image {
    width: 100%;
    height: 100%;
}

.dates-info {
  min-height: 20%;
  height: auto;
}

.left-home,
.right-home {
  height: 53%;
}

.top-box,
.bottom-box {
  height: 45%;
  margin-bottom: 6%;
}

.day-list {
  padding: 1% 0;
  border-top: 1px solid black;
  list-style-type: none;
}

.right-card {
  padding: 5%;
  height: 100%;
  background: rgb(220, 198, 224);
  color: #000000;
  text-align: center;
}

.right-card h2 {
  margin-top: 0;
  margin-bottom: 1%;
}

.top-box {
  background: rgb(245, 171, 53);
}

.bottom-box {
  background: rgb(197, 239, 247);
}

.bottom-box h2 {
  margin-top: 8px;
  margin-bottom: 0;
}

.table>thead>tr>th {
  border-color: #000000;
}

.price {
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 2%;
  right: 2%;
}

#main-container h3 {
    font-size: 20px;
    padding-bottom: 1%;
}

#main-container p {
    font-size: 14px;
}

#main-body-paragraph {
    border-top: 3px solid #000000;
}

#flavor-of-day {
  height: 30%;
}

/*Our Macarons*/
#macarons-shop {
  min-height: 240%;
  height: auto;
  padding-top: 4%;
}

.shop-header {
  text-align: center;
}

.shop-container {
  min-height: 55%;
  height: auto;
  border-top: 3px solid #000000;
}

.macaron-container {
  min-height: 40%;
  height: auto;
  padding-top: 2%;
}

.macaron-container {
  text-align: center;
}

.display-count {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  height: 100%;
}

.shop-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.button-macaron {
  height: 100%;
}

.button-macaron:focus {
  outline: none !important;
}

.cart-controls {
  display: inline-block;
}

.cart-buttons {
  float: right;
}

#macarons-shop p,
#gifts p {
  font-size: 14px;
  color: #6a6969;
}

#second-paragraph {
    padding-top: 15%;
    position:relative;
}

/*gifts*/
#gifts {
  min-height: 220%;
  height: auto;
}

#gifts a {
  text-decoration: none;
  color: #df5277
}

.gift-container {
  border-top: 3px solid #000000;
  min-height: 45%;
  height: auto;
  margin-bottom: 4%;
}

.gift-container .display-count,
.gift-container .add-cart {
  padding: .3em 0;
}

.gift-container>.macaron-container {
  margin-top: 3%;
}

.catering-container {
  min-height: 40%;
  height: auto;
  border-top: 3px solid #000000;
}

.catering-left,
.catering-right {
  height: 100%;
}

.catering-top,
.catering-bottom {
  margin-top: 5%;
  height: 38%;
}

.catering-box-right {
  height: 80%;
  margin-top: 5%;
  background: url('../assets/images/tower.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.catering-top {
  background: url('../assets/images/wedding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.catering-bottom {
  background: url('../assets/images/decorative.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card {
  margin: 2% 0;
}

/*Order Page*/
#order_page {
    min-height: 70%;
    height: auto;
    width: 100%;
}

.mdl-card{
  padding: 0;
  margin: 1% .5%;
  min-height: 307px;
}

.mdl-card__title{
  height: 150px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
}

.mdl-card__supporting-text {
  min-height: 150px;
  width: 100%;
  font-size: 1.1em;
}

.mdl-button {
  padding: 0 12px;
}

.cart_list {
  min-height: 70%;
  height: auto;
  overflow: auto;
}

.checkout-bar {
  box-sizing: border-box;
  height: 8%;
}

.checkout-bar-container div:first-child {
  border-right: 1px solid black;
}

.checkout-bar-container div:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.checkout-bar-container div:nth-child(3) {
  border-left: 1px solid black;
}

.checkout-bar h3 {
  text-align: center;
  margin: 10px 0;
}

.checkout-bar button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar {
  min-height: 70%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

legend {
  padding-bottom: 3%;
}

.checkout_form {
  min-height: 50%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 4%;
  overflow: auto;
  position: relative;
}

.checkout-title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

.sign-in,
.sign-up {
  padding-left: 2%;
  padding-right: 2%;
  margin: 3% 0;
  height: 25%;
}

.sign-in {
  border-left: 1px solid black;
}

.sign-up {
  border-right: 1px solid black;
}

.show-cart {
  position: absolute;
  top: 1%;
  left: 0;
}

.main_list {
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.confirm-checkout {
  text-align: center;
}

/*Contacts*/
#contacts {
  min-height: 70%;
  height: auto;
  padding-top: 1%;
  color: #000000;
}

#contacts h3 {
    font-size: 20px;
    margin-top: 0;
    color: #6a6969;
}

#contact-form h3 {
  margin-left: 2.5%;
}

#contacts p {
    font-size: 14px;
    color: #6a6969;
}

#contacts li {
    font-size: 14px;
    color: #6a6969;
    list-style-type: none;
}

#contacts a {
    text-decoration: none;
    color: #df5277;
}

.move-right {
  padding-left: 40px;
}

.map-container {
  min-height: 535px;
  min-width: 534px;
  position: relative;;
}

#map {
  display:block;
  width:100%;
  max-height:70%;
  margin:0 auto
}

#map img {
  max-width:inherit!important
}

#days-address,
#contact-form {
  height: 85%;
  padding-top: 3%;
  margin: 3% 0;
  overflow: auto;
}

.contact-form-buttons {
  margin-top: 3%;
}
/*Footer*/

footer {
     min-height: 10%;
     height: auto;
     width: 100%;
     background-color: #212121;
     color: #ffffff;
     text-align: center;
     display: inline-block;
     padding: 1% 0;
}

footer li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  position: relative;
  color:#000000;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}

.copyright {
  vertical-align: bottom;
  text-align: center;
}

 @media screen and (max-width: 627px) {

   #navbar-collapse {
     background-color: rgb(219, 10, 91);
   }

  #navbar li a {
    margin: 0;
  }

  .header-text{
      width: 90%;
  }

  .right-home {
    margin-top: 25%;
  }

  .top-box,
  .bottom-box {
    height: 50%;
    overflow: auto;
  }

  .catering-container {
    min-height: 100%;
  }

  .catering-left,
  .catering-right {
    height: 60%;
  }

  .catering-top,
  .catering-bottom {
    height: 45%;
  }

  .cart_list .mdl-card {
    margin: 1% 3.5%;
  }

  #showCheckout {
    width: 0;
    display: none;
  }

  .card {
    padding: 0;
  }

  .sign-in,
  .sign-up {
    border: none;
  }

  #cart-nav {
    width: 95%;
  }

  footer {
    margin-top: 3%;
  }

 }
