<html ng-app="mboutiqueApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/images/macaron-tab.png" >
    <title ng-bind="title">MBoutique</title>
    <!-- Roboto  Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--Begin Navigation Bar-->
    <nav id = 'navbar' class = "navbar navbar-default" ng-controller="mainController as mc">
    <div class = 'container-fluid'>
        <div class = 'navbar-header'>
            <button class = "navbar-toggle collapsed mdl-badge mdl-badge--overlap" id="nav-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            <a class = 'navbar-brand' id ='brand' href="#welcome"> <img id = "logo-image" src = "./assets/images/logo.png"></a>
        </div>
        <div uib-collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse" id="navbar-collapse">
            <ul class = 'nav navbar-nav navbar-right'>
              <li><a class="n_link" href="#welcome" ng-click="mc.collapse()">WELCOME</a></li>
              <li><a class="n_link" href="#macarons" ng-click="mc.collapse()">OUR MACARONS</a></li>
              <li><a class="n_link" href="#gifts" ng-click="mc.collapse()">GIFTS &amp; PARTIES</a></li>
              <li><a class="n_link" href="#contact" ng-click="mc.collapse()">CONTACT</a></li>
              <li><a class="n_link mdl-badge mdl-badge--overlap nav-badge" id="cart-nav" data-badge=" {{ cart }}" href="#cart" ng-click="mc.collapse()">CART</a></li>
            </ul>
      </div>
    </nav>

    <!--ng-view -->
    <div id="content">
        <div ng-view class="fade" autoscroll="true"></div>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog" ng-controller="cartController as crc">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ modalTitle }}</h4>
                    <h4 id = "modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>{{ modalText }}</p>
                    <p id="modal-text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>

    <div id="password-modal" class="modal fade" tabindex="-1" role="dialog" ng-controller="cartController as crc">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Forgot your password? It happens.</h4>
                </div>
                <div class="modal-body">
                  <div class="form-group col-lg-12 col-md-12 col-xs-12">
                      <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                      <div class="col-lg-9">
                          <input type="email" class="form-control" id="newEmail" ng-model="crc.customer.email" name="email" placeholder="Email Address" required>
                          <span class="help-block">Ex. hello@mail.com</span>
                      </div>
                  </div>
                  <div class="form-group col-lg-12 col-md-12 col-xs-12">
                      <label for="inputpassword" class="col-lg-3 control-label">New Password</label>
                      <div class="col-lg-9">
                          <input type="password" class="form-control" id="newpassword" name="password" ng-model="crc.customer.password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" required>
                          <span class="help-block">Must be 8 characters long. Numbers and Uppercase letters are required.</span>
                      </div>
                  </div>
                  <div class="form-group col-lg-12 col-md-12 col-xs-12">
                      <label for="confirmpassword" class="col-lg-3 control-label">Confirm Password</label>
                      <div class="col-lg-9">
                          <input type="password" class="form-control" id="newconfirmpassword" ng-model="crc.customer.confirm" name="confirmpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Confirm Password" required>
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                      <div class="col-lg-5 col-lg-offset-7 col-md-5 col-md-offset-7 col-xs-12">
                          <button type="reset" class="btn btn-default col-sm-5" data-dismiss="modal" ng-click="crc.cancel(0);">Cancel</button>
                          <button type="button" class="btn btn-primary col-sm-5 col-sm-offset-1" ng-click="crc.newCustomer(0)">Submit</button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="reciept-modal" class="modal fade" tabindex="-1" role="dialog" ng-controller="cartController as crc" ng-click="crc.resetCart()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="crc.resetCart()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Thank You {{ crc.name }}!</h4>
                </div>
                <div class="modal-body">
                    <p>Your Order# is {{ crc.orderNumber }}, and your order of delicious macarons will arrive in {{ crc.shipping_time }} days at {{ crc.dbUser.street_address }}, {{ crc.dbUser.city }}, {{ crc.dbUser.state }} {{ crc.dbUser.zip }}! Thank you for shopping at MBoutique. We hope to see you again!</p>
                    <div class="container checkout table">
                      <table class="table table-striped table-hover">
                        <thead>
                          <th>
                            #
                          </th>
                          <th>
                            Item Name
                          </th>
                          <th>
                            Item Count
                          </th>
                          <th>
                            Total Cost
                          </th>
                        </thead>
                        <tbody>
                          <tr ng-repeat="macaron in checkout">
                            <td>
                              {{ $index + 1}}
                            </td>
                            <td>
                              {{ macaron.name }}
                            </td>
                            <td>
                              {{ macaron.count }}
                            </td>
                            <td>
                              {{ macaron.cost * macaron.count | currency }}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <strong>Tax</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                              {{ tax | currency }}
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <strong>{{ crc.shipping_time }} Day Shipping</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                              {{ shipping | currency }}
                            </td>
                          </tr>
                          <tr class="total-row">
                            <td>
                              <strong>Total:</strong>
                            </td>
                            <td>

                            </td>
                            <td>
                              {{ cart }}
                            </td>
                            <td>
                              {{ total | currency }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <p>Print this page for your records</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary glyphicon glyphicon-print" ng-click="crc.resetCart()" data-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap & jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- Angular Routing -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <!-- Angular Animation -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <!-- ui bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
    <!-- Material Design Lite -->
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKuuYMhqpQ5xxbiRhj4YXOzti691JSt4&"></script>
    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Services -->
    <script src="js/services/macaronRetrieve.js"></script>
    <script src="js/services/cartCheckout.js"></script>
    <script src="js/services/login.js"></script>
    <script src="js/services/states.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/dateController.js"></script>
    <script src="js/controllers/cartController.js"></script>
    <script src="js/controllers/contactController.js"></script>
    <script src="js/controllers/partyController.js"></script>
    <script src="js/controllers/shopController.js"></script>
    <!-- Directives -->
    <script src="js/directives/imageBackground.js"></script>
    <script src="js/directives/checkouts.js"></script>
</body>
</html>
