<form class="form-horizontal">
    <fieldset>
        <legend>Checkout</legend>
        <div class="form-group">
            <label for="inputusername" class="col-lg-3 control-label">Username</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="inputusername" name="username" ng-model="crc.username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword" class="col-lg-3 control-label">Password</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="inputpassword" name="password" ng-model="crc.password" placeholder="Password">
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default" ng-click="crc.cancel(1)">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="crc.login()">Submit</button>
        </div>
    </fieldset>
</form>
